body {
    background-color: grey;
    margin: 0;
}

.tiles {
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 16px;
}

.tile {
    height: 100px;
    background-color: black;
    border: 5px solid white;
    cursor: pointer;
}